/*---------General-----------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;
    color: #edf0f1;
}

li,
a,
button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

/*---------Header-----------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

.logo {
    cursor: pointer;
    width: 120px;
    height: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088A9;
}

.nav__links li a.active {
    color: #0088A9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

/*---------Footer-----------*/

footer {
    position: fixed;
    text-align: center;
    background-color: #0087a93c;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}


/*---------Index-----------*/

.content {
    size: relative;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 40px;
}

.content .titleHome {
    color: white;
    font-size: 50px;
    overflow: visible;
    position: relative;
    text-align: center;
    overflow-wrap: inherit;
    box-sizing: border-box;
    text-transform: uppercase;
    padding: 50px;
}

.content .tileListRow {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: fit-content;
    padding: 16px;
    min-width: 300px;
    border-radius: 10px;
    transform: translate(-50%, -30%);
    background-color: rgb(158, 183, 209);
}

.modal .info {
    color: white;
    font-size: large;
    text-align: justify;
}

.modal .modalTitle {
    color: white;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.content .menu {
    position: center;
    display: inline-block;
    padding: 16px;
}

.content .menu .imgStamp {
    display: block;
    position: center;
    width: 180px;
    margin-bottom: 15px;
    height: 180px;
    border-radius: 10px;
}

.content .menu .modalButton {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    width: 180px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.content .menu .modalButton:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.topright {
    color: #fff;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 10px;
}

/*---------About-----------*/

#textoCartao {
    text-align: justify;
}

.card {
    padding: 20px 40px;
    line-height: 23px;
}

.title {
    color: #033474;
}

#titleAlunos {
    margin-bottom: 10px;
}


/*---------Contact-----------*/

.contact-form {
    text-align: left;
}

.form-submit {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.titleForm {
    margin-bottom: 16px;
}

.form-submit:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.form-group {
    overflow: hidden;
    position: relative;
}

label {
    color: lightslategrey;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
}

textarea:focus, input:focus{
    outline: none;
}

input:focus {
    border-color: rgba(0, 136, 169, 1);
}

input:hover {
    border-color: rgba(0, 136, 169, 0.8);
}

::placeholder {
    font-size: medium;
    color: rgb(166, 179, 196);
}

.label-agree-term {
    position: relative;
    top: 0%;
}

.agree-term {
    width: auto;
    display: inline-block;
}

.term-service {
    color: rgba(0, 136, 169, 1)
}

input[type=checkbox]+label {
    display: inline-block;
    margin-top: 6px;
    line-height: 1.5em;
}

table.tableCSS {
    text-align: left;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 650px;
    padding: 10px;
}

table.tableCSS td {
    border: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

table.tableCSS th {
    text-align: center;
    background-color: #eaedf1;
    height: 30px;
    border-radius: 10px;
    color: rgb(97, 112, 128);
}

/*---------Contact Action-----------*/

/* .contact-form {
    text-align: left;
}

.form-submit {
    width: auto;
    color: #fff;
    cursor: pointer;
    border-bottom: none;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px 39px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(81, 92, 104);
}

.form-submit:hover {
    background: rgb(129, 145, 161);
}

.form-group {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    margin-left: 25px;
    margin-bottom: 25px;
}

.form-group:last-child {
    margin-bottom: 0
}

label {
    color: lightslategrey;
}

input {
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    padding: 6px 30px;
    color: rgb(47, 55, 63);
}

::placeholder {
    font-size: medium;
    color: rgb(166, 179, 196);
}

.label-agree-term {
    position: relative;
    top: 0%;
}

.agree-term {
    width: auto;
    display: inline-block;
}

.term-service {
    font-size: 13px;
    color: #222
}

input[type=checkbox]+label {
    display: inline-block;
    margin-top: 6px;
    line-height: 1.5em;
}

table.tableCSS {
    text-align: left;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 650px;
    padding: 10px;
}

table.tableCSS td {
    border: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

table.tableCSS th {
    text-align: center;
    background-color: #eaedf1;
    height: 30px;
    border-radius: 10px;
    color: rgb(97, 112, 128);
} */