* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* --------------------Barra de navegação e footer -----------------------------------------------------*/

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 100%;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

header li a:hover:not(.active) {
    background-color: #ddd;
}

header li a.active {
    color: white;
    background-color: #033474;
}

footer {
    color: #666;
    position: fixed;
    text-align: center;
    background-color: #f3f3f3;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

/* ----------------CONTEÚDO ABOUT---------------------------------------------------------------------------------------*/

main {
    max-width: 700px;
    margin: auto;
    padding: 0 40px;
    margin-top: 30px;
    color: rgb(29, 28, 28);
}
.h1_about {
    text-align: center;
}

#textoCartao {
    color: rgb(29, 28, 28);
    text-align: left;
}

.card {
    /* border: 1px solid; */
    padding: 20px 120px;
    margin-top: 20px;
    border-radius: 20px;
    line-height: 23px;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

.title {
    color: #033474;
}

#titleAlunos {
    margin-bottom: 10px;
}




/* -------------------------------------------------------------------------------------------------------- */
.content {
    size: relative;
    background: #fff;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 40px;
}

.content .titleHome {
    color: white;
    overflow: visible;
    position: relative;
    text-align: center;
    overflow-wrap: inherit;
    box-sizing: border-box;
    text-transform: uppercase;
    margin: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: rgba(158, 183, 209, 0.706);
}

.content .tileListRow {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.modal {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 30%;
    height: fit-content;
    padding: 16px;
    min-width: 300px;
    border-radius: 10px;
    transform: translate(-50%, -30%);
    background-color: rgb(158, 183, 209);
}

.modal .info {
    color: white;
    font-size: large;
    text-align: justify;
}

.modal .modalTitle {
    color: white;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 24px;
}

.content .menu {
    position: center;
    display: inline-block;
    padding: 16px;
}

.content .menuNews {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 8px;
    border-radius: 10px;
}

.content .menu .imgStamp {
    display: block;
    position: center;
    width: 180px;
    height: 180px;
    border-radius: 10px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}

.content .menuNews .imgStampNews {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 40%;
    border: 3px dotted crimson;

}

.overlay {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 100%;
    transition: .9s ease;
    background-color: rgb(252, 244, 220);
}

.menuNews:hover .overlay {
    bottom: 0;
    height: 100%;
}

.textImg {
    overflow: hidden;
    color: crimson;
    font-size: medium;
    text-align: center;
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.content .menu .modalButton {
    cursor: pointer;
    width: 180px;
    font-size: 17px;
    border-radius: 10px;
    background-color: rgb(119, 164, 220);
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
}

.topright {
    color: #fff;
    display: flex; 
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center; 
    background-color: crimson;
    top: 8px; 
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 10px;

}

.contact-form {
    text-align: left;
}

.form-submit {
    width: auto;
    color: #fff;
    cursor: pointer;
    border-bottom: none;
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px 39px;
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: rgb(81, 92, 104);
}

.form-submit:hover {
    background: rgb(129, 145, 161);
}

.form-group {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    margin-left: 25px;
    margin-bottom: 25px;
}

.form-group:last-child {
    margin-bottom: 0
}

label {
    color: lightslategrey;
}

input {
    outline: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-size: 17px;
    padding: 6px 30px;
    color: rgb(47, 55, 63);
}

::placeholder {
    font-size: medium;
    color: rgb(166, 179, 196);
}

.label-agree-term {
    position: relative;
    top: 0%;
}

.agree-term {
    width: auto;
    display: inline-block;
}

.term-service {
    font-size: 13px;
    color: #222
}

input[type=checkbox]+label {
    display: inline-block;
    margin-top: 6px;
    line-height: 1.5em;
}

p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    color: rgb(97, 112, 128);
}

table.tableCSS {
    text-align: left;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 650px;
    padding: 10px;
}

table.tableCSS td {
    border: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
}

table.tableCSS th {
    text-align: center;
    background-color: #eaedf1;
    height: 30px;
    border-radius: 10px;
    color: rgb(97, 112, 128);
}